body {
    margin:0; padding: 0;
    background-color: white; /* Couleur de fond par défaut. RGAA 10.5 */
    color: #333;
}
.strong {
    font-weight: bold;
}
a:hover {
    color: #555555 !important;
}
a.disabled {
    opacity: 0.20;
    cursor: not-allowed;
}
#container {
    width: 1572px; margin: 0 auto;
}
#header {
    position:sticky; top: 0; margin: 0; padding-top: 40px; background: white; z-index: 102;
}

#header h1, #header h2 {
    display: inline-block; white-space: nowrap; margin-top: 20px; top: 0;position: fixed; left: 50%; transform: translate(-50%,-50%) !important; font-weight: normal; text-align: center; font-size: 16px; font-family: monospace; text-transform: uppercase;
}
#header h1 a, #header h2 a{
    text-decoration: none;
}
#header h2 {
    margin-top: 52px;
}
#header #nav_mode {
    display: inline-block;
    top: 85px;
    position: fixed;
    left: 50%; transform: translate(-50%,-50%) !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#header #nav_mode a {
    font-size: 16px;
    color: #333;
    font-family: monospace;
    text-decoration: none;
}
#header a:hover span {
    text-decoration: underline;
    color: #000;
}

#header a.active span {
    font-weight: bold;
}

#header #nav_mode a:not(:first-child):not(:last-child) {
    margin-right: 15px;
    margin-left: 15px;
}

#header #nav_liens {
    position:absolute;
    left: 10px;
    top: 10px;
}

#header #nav_liens a:active {
    opacity: 0.5;
}

#header #nav_liens a {
    padding: 0 8px;
    color: #333;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

#header a#lien_refresh {
    position:absolute; right: 14px; top: 10px; display: inline-block; color: #666666; text-decoration: none; font-family: monospace; font-size: 16px;
}
.ligne {
    margin-bottom: 5px;
}
.ligne:after {
    content:" ";
    display:block;
    clear:both;
}
.logo {
    display: block; position:sticky; left:0; background-color: white; z-index: 101; padding-left: 5px; background-color: rgba(255, 255, 255, .5);
    float:left;
}
.logo img {
    width: 30px;
    margin-right: 5px;
}
.i:hover {
    background-color: #000 !important;
}
.i {
    display: block;
    float:left;
    height: 30px;
    width: 2px;
    background-color: #f2f2f2;
    cursor: pointer;
}
.i10m {
    border-left: 1px solid #f2f2f2;
}
.i1h {
    border-left: 1px solid #fff;
}
.hline {
    margin-top: 66px;
    padding-left: 40px;
    margin-bottom: 8px;
}
.hline:after {
    content:" ";
    display:block;
    clear:both;
}
.ih {
    float:left;
    height: 14px;
    color: #666666;
    width: 66px;
    position:relative;
    margin-bottom: 2px;
}
.ih:last-child {
    width: 0;
}
.ih small {
    position: absolute;left: -8px; top: 2px; font-size: 12px; font-family: monospace;
}
.no {
    background-color: #e2e2e2;
}
.bq {
    background-color: #f44646;
}
.pb {
    background-color: #ffb225;
}
.tx {
    background-color: #aeaeae;
}
.ok {
    background-color: #c0e39d;
}
.ligne .no+.i10m {
    border-left-color: #f2f2f2 !important;
}
.ligne .bq+.i10m {
    border-left-color: #ff8b8b !important;
}
.ligne .pb+.i10m {
    border-left-color: #ffd17b !important;
}
.ligne .ok+.i10m {
    border-left-color: #d5f5b6 !important;
}
.ligne .tx+.i10m {
    border-left-color: #c6c6c6 !important;
}
.ligne > .no+.e {
    background-color: #999 !important;
}
.ligne > .ok+.e {
    background-color: #65b613 !important;
}
.ligne > .bq+.e {
    background-color: #a00 !important;
}
.ligne > .pb+.e {
    background-color: #d47006 !important;
}
.ligne > .tx+.e {
    background-color: #666 !important;
}

#legende {
    margin-top: 0;
    margin-bottom: 60px;
}

#legende p:last-child {
    margin-top: 30px;
}

#legende span {
    display:inline-block; width: 12px; height: 12px;
    border-radius: 2px;
}

#footer, #legende {
    font-family: monospace; font-size: 14px; color: #666666; text-align: center;
}

#footer a, #legende a {
    color: #666666;
}

#footer {
    margin-top: 30px;
    position: fixed; bottom: 0; width: 100%;
}

#tooltipModal::after, #helpModal::after, #listModal::after {
    content: 'X Fermer';
    position: absolute;
    top: 14px;
    right: 14px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}

#tooltipModal {
    max-width: 500px;
    min-width: 200px;
    font-family: monospace;
    font-size: 14px;
    background: rgba(255,255,255, 0.9);
    border: none;
}

#helpModal, #listModal {
    max-width: 700px;
    font-family: monospace;
    font-size: 14px;
}

#helpModal h2, #listModal h2 {
    margin-top: 0;
    font-size: 18px;
}

#helpModal h3, #listModal h3 {
    font-size: 17px;
    margin-top: 20px;
}

 #listModal h4 {
    font-size: 14px; background: #f2f2f2; padding: 8px; margin-top: 20px; margin-bottom: 0; border: 1px solid #e2e2e2; border-radius: 4px 4px 0 0;
}

#listModal h4 img {
    height: 20px;
    float: left;
    margin-top: -2px;
}

#listModal h4 span:first-of-type {
    margin-left: 10px;
}

#listModal h4 span:last-child {
    float: right;
}

#listModal .disruption {
    background: transparent !important;
}

#listModal .disruption.bq h4 {
    background-color: #f44646;
    border-color: #ae0000;
    color: #fff;
}

#listModal .disruption.pb h4 {
    background-color: #ffb225;
    border-color: #e49402;
    color: #fff;
}

#listModal .disruption.tx h4 {
    background-color: #aeaeae;
    border-color: #888;
    color: #fff;
}

#listModal .disruption h4 img {
}

#listModal ul {
    list-style: none;
    padding: 16px 12px 0 12px;
    border: 1px solid #e2e2e2;
    border-top: none;
    margin-top: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

#listModal .disruption.pb ul {
    border-color: #e49402;
}

#listModal .disruption.tx ul {
    border-color: #888;
}

#listModal .disruption.bq ul {
    border-color: #ae0000;
}

#listModal .disruption.future {
    opacity: 0.8;
}

#listModal ul li span:first-of-type {
    display: inline-block; width: 12px; height: 12px; border-radius: 2px;
}

#listModal ul li span:last-of-type {
    float: right; text-align: center; border-radius: 2px;
}

#listModal ul li strong:first-of-type {
    margin-right: 8px; margin-left: 6px;
}

#listModal p {
    color: #777;
}

#helpModal span {
    display:inline-block; width: 12px; height: 12px;
}

@media screen and (min-width: 980px) {
    .mobile_hidden {
        display: inherit;
    }
    .mobile_visible {
        display: none;
    }
    #header a#lien_refresh {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .mobile_hidden {
        display: none;
    }
    .mobile_visible {
        display: inherit;
    }
    #footer {
        display: none;
    }
    #legende {
        display: none;
    }
    #header {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .ih {
        margin-bottom: 10px;
    }
    #header #nav_liens {
        position: fixed;
    }
    #header a#lien_refresh {
        position: fixed;
    }
}

@media screen and (max-height: 900px) {
    #footer {
        position: relative;
        width: auto;
        bottom: inherit;
    }
}

/* Classes utilitaires */
/* Masquer un élément visuellement ; reste perceptible par les lecteurs d'écran */
.visually-hidden {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
}
