body {
    margin:0; padding: 0;
    background-color: white; /* Couleur de fond par défaut. RGAA 10.5 */
}
.strong {
    font-weight: bold;
}
a:hover {
    color: #555555 !important;
}
a.disabled {
    opacity: 0.20;
    cursor: not-allowed;
}
#container {
    width: 1428px; margin: 0 auto;
}
#header {
    position:sticky; top: 0; margin: 0; padding-top: 35px; background: white; z-index: 102;
}
#header h1, #header h2 {
    display: inline-block; white-space: nowrap; margin-top: 18px; top: 0;position: fixed; left: 50%; transform: translate(-50%,-50%) !important; font-weight: normal; text-align: center; color: #666666; font-size: 16px; font-family: monospace; text-transform: uppercase;
}
#header h1 a, #header h2 a{
    text-decoration: none; color: #000;
}
#header h2 {
    margin-top: 47px;
}
#header #nav_mode {
    display: inline-block;
    top: 79px;
    position: fixed;
    left: 50%; transform: translate(-50%,-50%) !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#header #nav_mode a {
    font-size: 16px;
    color: #666666;
    font-family: monospace;
    text-decoration: none;
}
#header #nav_mode a:hover span {
    text-decoration: underline;
    color: #555555;
}

#header #nav_mode a.active {
    font-weight: bold;
    color: #555555;
}

#header #nav_mode a:not(:first-child):not(:last-child) {
    margin-right: 15px;
    margin-left: 15px;
}

#header a#lien_infos span {
    position:absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    color: #666666;
    text-decoration: none;
    font-family: monospace;
    border-radius: 99px;
    border: 1px solid #666666;
    width: 18px;
    height: 18px;
    font-size: 16px;
    text-align: center;
}
#header a#lien_infos:hover span {
    border-color: #444444;
}
#header a#lien_refresh {
    position:fixed; right: 14px; top: 10px; display: inline-block; color: #666666; text-decoration: none; font-family: monospace; font-size: 16px;
}
.ligne {
    margin-bottom: 5px;
}
.ligne:after {
    content:" ";
    display:block;
    clear:both;
}
.logo {
    display: block; position:sticky; left:0; background-color: white; z-index: 101; padding-left: 5px; background-color: rgba(255, 255, 255, .5);
    float:left;
}
.logo img {
    width: 30px;
    margin-right: 5px;
}
.i:hover {
    background-color: #000 !important;
}
.i {
    display: block;
    float:left;
    height: 30px;
    width: 2px;
    opacity: 0.85;
    background-color: #e2e2e2;
    cursor: pointer;
}
.i10m {
    border-left: 1px solid #def2ca;
}
.i1h {
    border-left: 1px solid #fff;
}
.hline {
    margin-top: 64px; padding-left: 40px;
    margin-bottom: 9px;
}
.hline:after {
    content:" ";
    display:block;
    clear:both;
}
.ih {
    float:left;
    height: 14px;
    color: #666666;
    width: 66px;
    position:relative;
    margin-bottom: 2px;
}
.ih:last-child {
    width: 0;
}
.ih small {
    position: absolute;left: -8px; top: 2px; font-size: 12px; font-family: monospace;
}
.bq {
    background-color: #f32626;
}
.pb {
    background-color: orange;
}
.tx {
    background-color: #aeaeae;
}
.ok {
    background-color: #b6df8c;
}
.ligne > .ok+.e {
    background-color: #65b613 !important;
}
.ligne > .bq+.e {
    background-color: #a00 !important;
}
.ligne > .pb+.e {
    background-color: #d47006 !important;
}
.ligne > .tx+.e {
    background-color: #666 !important;
}

#legende {
    margin-top: 0;
}

#legende span {
    display:inline-block; width: 8px; height: 8px;
    border-radius: 99px;
    opacity: 0.6;
}

#footer, #legende {
    font-family: monospace; font-size: 14px; color: #666666; text-align: center;
}

#footer a {
    color: #666666;
}

#footer {
    margin-top: 30px;
}

#tooltipModal::after, #helpModal::after {
    content: 'X Fermer';
    position: absolute;
    top: 14px;
    right: 14px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}

#tooltipModal {
    max-width: 500px;
    min-width: 200px;
    font-family: monospace;
    font-size: 14px;
    background: rgba(255,255,255, 0.9);
    border: none;
}

#helpModal {
    max-width: 700px;
    font-family: monospace;
    font-size: 14px;
}

#helpModal h3 {
    margin-top: 0;
}

#helpModal span {
    display:inline-block; width: 12px; height: 12px;
}

@media screen and (min-width: 1200px) {
    #header a#lien_refresh {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #footer {
        display: none;
    }
    #legende {
        display: none;
    }
    #header {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .ih {
        margin-bottom: 10px;
    }
    #header a#lien_infos span {
        position:fixed;
    }
}

/* Classes utilitaires */
/* Masquer un élément visuellement ; reste perceptible par les lecteurs d'écran */
.visually-hidden {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
}
