body {
    margin:0; padding: 0;
    background-color: white; /* Couleur de fond par défaut. RGAA 10.5 */
    color: #333;
}
.strong {
    font-weight: bold;
}
a:hover {
    color: #555555 !important;
}
a.disabled {
    opacity: 0.20;
    cursor: not-allowed;
}
#container, #container_month {
    width: max-content; margin: 0 auto;
}
#header {
    position:sticky; top: 0; margin: 0; padding-top: 40px; background: white; z-index: 102;
}

#header h1, #header h2 {
    display: inline-block; white-space: nowrap; margin-top: 20px; top: 0;position: fixed; left: 50%; transform: translate(-50%,-50%) !important; font-weight: normal; text-align: center; font-size: 16px; font-family: monospace; text-transform: uppercase;
}
#header h2 a {
    text-decoration: none;
}
#header h2 {
    margin-top: 52px;
}
#header #nav_mode {
    display: inline-block;
    top: 85px;
    position: fixed;
    left: 50%; transform: translate(-50%,-50%) !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#header #nav_mode a {
    font-size: 16px;
    color: #333;
    font-family: monospace;
    text-decoration: none;
}
#header a:hover span {
    text-decoration: underline;
    color: #000;
}

#header a.active span {
    font-weight: bold;
}

#header #nav_mode a:not(:first-child):not(:last-child) {
    margin-right: 15px;
    margin-left: 15px;
}

#header #nav_liens {
    position:absolute;
    left: 10px;
    top: 10px;
}

#header #nav_liens_right {
    position:absolute;
    right: 10px;
    top: 10px;
    text-align: right;
}

#header #nav_liens a:active, #header #nav_liens_right a:active, #header h2 a:active {
    opacity: 0.5;
}

#header #nav_liens a, #header #nav_liens_right a {
    padding: 0 8px;
    color: #333;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

#select-day {
    border: none; cursor: pointer; font-size: 16px; color: #333; width: 130px; font-family: monospace; text-align:center;  background: transparent;
}

.donutG:before {
    content: "97";
    color: #64aa1e;
    font-size: 14px;
    text-align: center;
}

.donutG {
  width: 34px;
  height: 34px;
  background: radial-gradient(white 45%, transparent 41%), conic-gradient(#c0e39d 0% 94%, #ffb225 94% 97%, #f44646 97% 99%, #f44646 97% 99%, #aeaeae 99% 100%);
  display: inline-block;
  border-radius: 50%;
  position:absolute;
  right: 0;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dispoligne {
    color: #666 !important;
    border: 1px solid #f2f2f2;
    border-left: 0;
    font-family: monospace;
    font-size:12px;
    text-align: right;
    height: 28px;
    display: block;
    float:left;
    line-height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0 4px 4px 0;
    position: relative;
    margin-right: 5px;
}
.dispoligne img {
    position: absolute;
    top: 5px;
    left: -24px;
    height: 18px;
    opacity: 0.75 !important;
}

#nav_liens_right a.openincident {
    padding: 4px 40px 4px 10px !important;
    border: 1px solid #ececec;
    background: #fff;
    color: #555 !important;
    font-size: 14px !important;
}


#nav_liens_right a.openincident .picto {
    border-right: 1px solid #ececec;
    padding-right: 8px;
}

#nav_liens_right a.openincident span {
    text-transform: none !important;
}

#nav_liens_right a.openincident:hover {
    background: #f2f2f2;
    color: #000 !important;
}
#nav_liens_right a.openincident:hover span {
    text-decoration: none !important;
}

#nav_liens_right a#btn_list.openincident span.text_incidents {
    padding-left: 8px;
}

#nav_liens_right a#btn_list_now {
    padding: 4px 10px 4px 8px!important;
    margin-right: 4px;
}

#nav_liens_right a#btn_list_now strong {
    padding-left: 8px; padding-right: 6px;
}

#nav_liens_right a#btn_list_now span.barre {
    border-radius: 4px;
}

#nav_liens_right a#btn_list.openincident span.text_incidents span.short {
    display: none;
}

#header a#lien_refresh {
    display: inline-block; color: #666666; text-decoration: none; font-family: monospace; font-size: 16px;
    padding-left: 6px;
}
.ligne {
    margin-bottom: 5px;
    cursor: pointer;
    position:relative;
}
.ligne:after {
    content:" ";
    display:block;
    clear:both;
}
.logo {
    display: block; position:sticky; left:0; background-color: white; z-index: 101; padding-left: 5px; background-color: rgba(255, 255, 255, .5);
    float:left;
}
.logo a {
    color: white;
}
.logo img {
    margin-right: 5px;
}
.i:hover, .i:active {
    background-color: #767676 !important;
}

.i.no:hover, .i.no:active {
    background-color: #a2a2a2 !important;
}

.i.e:hover, .i.e:active {
    background-color: #bebebe !important;
}

.i.ok:hover, .i.ok:active {
    background-color: #64aa1e !important;
}

.i.pb:hover, .i.pb:active {
    background-color: #b37503 !important;
}

.i.bq:hover, .i.bq:active {
    background-color: #a80000 !important;
}

.i.tx:hover, .i.tx:active {
    background-color: #6e6e6e !important;
}

.i {
    display: block;
    float:left;
    height: 30px;
    width: 2px;
    background-color: #f2f2f2;
    cursor: pointer;
}
.i10m {
    border-left: 1px solid #f2f2f2;
}
.i1h {
    border-left: 1px solid #fff;
}
.i5sa {
    width: 10px;
}

.hline {
    margin-top: 66px;
    padding-left: 40px;
    margin-bottom: 8px;
}
.hline:after {
    content:" ";
    display:block;
    clear:both;
}

.ih {
    float:left;
    height: 14px;
    color: #666666;
    width: 66px;
    position:relative;
    margin-bottom: 2px;
}
.ih:last-child {
    width: 0;
}
.ih small {
    position: absolute;left: -8px; top: 2px; font-size: 12px; font-family: monospace;
}
.no {
    background-color: #e2e2e2;
}
.bq {
    background-color: #f44646;
}
.pb {
    background-color: #ffb225;
}
.tx {
    background-color: #aeaeae;
}
.ok {
    background-color: #c0e39d;
}
.ligne .no+.i10m {
    border-left-color: #f2f2f2 !important;
}
.ligne .bq+.i10m {
    border-left-color: #ff8b8b !important;
}
.ligne .pb+.i10m {
    border-left-color: #ffd17b !important;
}
.ligne .ok+.i10m {
    border-left-color: #d5f5b6 !important;
}
.ligne .tx+.i10m {
    border-left-color: #c6c6c6 !important;
}
.ligne > .no+.e {
    background-color: #999 !important;
}
.ligne > .ok+.e {
    background-color: #65b613 !important;
}
.ligne > .bq+.e {
    background-color: #a00 !important;
}
.ligne > .pb+.e {
    background-color: #d47006 !important;
}
.ligne > .tx+.e {
    background-color: #666 !important;
}

#legende {
    margin-top: 0;
    margin-bottom: 60px;
}

#legende p:last-child {
    margin-top: 30px;
}

#legende span {
    display:inline-block; width: 12px; height: 12px;
    border-radius: 2px;
}

#footer, #legende {
    font-family: monospace; font-size: 14px; color: #666666; text-align: center;
}

#footer a, #legende a {
    color: #666666;
}

#footer {
    margin-top: 30px;
    position: fixed; bottom: 0; width: 100%;
}

#modalHelp::after, #listModal::after {
    content: 'X Fermer';
    position: absolute;
    top: 14px;
    right: 14px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}

#modalHelp, #listModal {
    max-width: 700px;
    font-family: monospace;
    font-size: 14px;
}

#modalHelp h2, #listModal h2 {
    margin-top: 0;
    font-size: 18px;
    padding-right: 75px;
}

#modalHelp h3, #listModal h3 {
    font-size: 17px;
    margin-top: 20px;
}

 #listModal h4 {
    font-size: 14px; background: #f2f2f2; padding: 8px 8px 7px 8px; margin-top: 20px; margin-bottom: 0; border: 1px solid #e2e2e2; border-radius: 4px 4px 0 0;
}

#listModal h4 img {
    height: 20px;
    float: left;
    margin-top: -2px;
}

#listModal h4 span:first-of-type {
    margin-left: 10px;
}

#listModal h4 span:nth-of-type(3) {
    float: right;
}

#listModal h4 span:nth-of-type(2)  {
    max-width: 400px;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#listModal h4 span:nth-of-type(4) {
    margin-left: 30px;
    margin-top: 4px;
    display: block;
    padding-right: 64px;
}

#listModal .disruption {
    background: transparent !important;
}

#listModal .disruption.bq h4 {
    background-color: #f44646;
    border-color: #ae0000;
    color: #fff;
}

#listModal .disruption.pb h4 {
    background-color: #ffb225;
    border-color: #e49402;
    color: #fff;
}

#listModal .disruption.tx h4 {
    background-color: #aeaeae;
    border-color: #888;
    color: #fff;
}

#listModal ul {
    list-style: none;
    padding: 16px 8px 0 12px;
    border: 1px solid #e2e2e2;
    border-top: none;
    margin-top: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

#listModal .disruption.pb ul {
    border-color: #e49402;
}

#listModal .disruption.tx ul {
    border-color: #888;
}

#listModal .disruption.bq ul {
    border-color: #ae0000;
}

#listModal .disruption.future {
    opacity: 0.8;
}

#listModal ul li p {
    margin-top: 10px;
}
#listModal ul li {
    margin-bottom: 20px;
}

#listModal ul li span:first-of-type {
    display: inline-block; width: 12px; height: 12px; border-radius: 2px;
}

#listModal ul li span:nth-of-type(2) {
    float: right;
    text-align: center;
    margin-left: 10px;
}

#listModal ul li span:last-of-type {
    display: none;
}

#listModal ul li strong:first-of-type {
    margin-right: 8px; margin-left: 6px;
}

#listModal p {
    color: #777;
}

#listModal ul li p:nth-of-type(2) {
    text-align: center;
    margin-top: -5px;
    display: none;
}

#listModal p a {
    text-decoration: underline;
    color: #777;
}

#listModal #sentence_nothing_disruptions {
    margin-bottom: 10px;
    margin-top: 20px;
}

#listModal ul li p.ellips {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

#listModal table td, #listModal table th {
    padding: 6px;
}

#listModal table tbody tr:nth-child(odd) td {
    background: #f2f2f2;
}

#listModal table tbody tr:nth-child(even) td {
    background: #fff;
}

#modalHelp span {
    display:inline-block; width: 12px; height: 12px;
}

#container_month .ih {
    width: 40px;
    display: block;
    border-right: 1px solid #fff;
    text-align: center;
}

#container_month .ih.ihew {
    border-right: 4px solid #fff;
}

#container_month .ih span {
    position:absolute; top: -5px; left: 50%; transform: translate(-50%,-50%); font-size: 11px; opacity: 0.5;
}

#container_month .ih small {
    position: relative; left: inherit; top: inherit;
}

#container_month .ligne .logo img {
    margin-top: 5px;
}

#container_month .ligne .bm {
    display: block;
    float:left;
    height: 40px;
    width: 40px;
    position: relative;
    border-right: 1px solid #fff;
}

#container_month .ligne .bm div {
    display: block; float:right;
}

#container_month .ligne .bm div.no {
    height: 40px; width: 40px;
}

#container_month .ligne .bm.bmew {
    border-right: 4px solid #fff;
}

#container_month .ligne .bm div.bml {
    height: 4px;
}

#container_month .ligne .bm div.bmb {
    width: 40px;
}

#container_month .ligne .dispoligne {
    padding-top: 5px; padding-bottom: 5px; padding-left: 40px;
}

#container_month .ligne .dispoligne img {
    height: 24px; left: 6px; top: 7px;
}

@media screen and (min-width: 900px) {
    .mobile_hidden {
        display: inherit;
    }
    .mobile_visible {
        display: none !important;
    }
    #header a#lien_refresh {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #listModal ul li span:last-of-type {
        display: inline;
    }

    #listModal ul li p:nth-of-type(2) {
        display: inherit;
    }

    .mobile_hidden {
        display: none !important;
    }
    .mobile_visible {
        display: inherit;
    }
    #footer {
        display: none;
    }
    #legende {
        display: none;
    }


    .istoday #btn_list {
        display: none;
    }

}

@media screen and (max-width: 550px) {
    .dispoligne img {
        display: none;
    }

    #nav_liens_right a#btn_list.openincident {
        padding-right: 30px !important;
        padding-left: 6px !important;
        font-size: 14px !important;
    }

    #nav_liens_right a#btn_list.openincident span.text_incidents span.long {
        display: none;
    }

    #nav_liens_right a#btn_list.openincident span.text_incidents span.short {
        display: inherit;
        margin-left: 5px;
    }

    #nav_liens_right a#btn_list_now .picto {
        padding-right: 4px;
    }

    #header #nav_liens_right {
        right: 4px;
        margin-right: 0;
    }

    #nav_liens_right a#btn_list_now {
        padding: 4px 6px 4px 4px !important;
    }

    #nav_liens_right a#btn_list_now strong {
        padding-left: 4px; padding-right: 3px;
    }

    #nav_liens_right a#btn_list.openincident span.text_incidents {
        padding-left: 5px;
    }

    .donutG:before {
        font-size: 12px !important;
    }

    .donutG {
      width: 29px;
      height: 29px;
      top: -2px;
    }

    #nav_liens_right a#btn_list.openincident {
        padding-right: 32px !important;
    }
}

@media screen and (max-width: 420px) {
    #header #nav_liens_right {
        top: 8px;
    }
    #nav_liens_right a#btn_list_now,  #nav_liens_right a#btn_list {
        padding-top: 3px !important; padding-bottom: 3px !important;
    }
    #nav_liens_right a#btn_list_now strong {
        padding-left: 2px; padding-right: 2px;
    }
    #nav_liens_right a#btn_list_now .picto, #nav_liens_right a#btn_list .picto {
        opacity: 0.60;
        font-size: 12px;
        padding-right: 2px;
    }
    #nav_liens_right a#btn_list .picto {
        padding-right: 4px;
    }
    #nav_liens_right a#btn_list.openincident span.text_incidents {
        padding-left: 3px;
        font-size: 12px;
    }
    #nav_liens_right a#btn_list_now {
        margin-right: 2px;
    }
    #nav_liens_right a#btn_list_now strong {
        font-size: 12px;
    }
    #nav_liens_right a#btn_list_now span.barre {
        font-size: 12px;
    }

    #nav_liens_right a#btn_list.openincident span.text_incidents span.short {
        margin-left: 3px;
    }

    .donutG:before {
        font-size: 11px !important;
    }

    .donutG {
      width: 26px;
      height: 26px;
      top: -1px;
    }
    #nav_liens_right a#btn_list.openincident {
        padding-right: 28px !important;
    }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 1602px) {
    #header #nav_liens, #header #nav_liens_right {
        position: fixed;
    }
    #header {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .ih {
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 900px) {
    #footer {
        position: relative;
        width: auto;
        bottom: inherit;
    }
}

@media screen and (max-width: 1200px) {
    h1 .mobile_hidden span {
        display: none;
    }
}


/* Classes utilitaires */
/* Masquer un élément visuellement ; reste perceptible par les lecteurs d'écran */
.visually-hidden {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
}
.hide {
    display: none !important;
}
.badge {
    background: #f2f2f2; border-radius: 16px; padding: 6px 10px; font-weight: normal; font-size: 80%;
}
